@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #111;
}

header {
    z-index: 999;
    background: #111;
    position: fixed;
    width: 100%;
    top: 0;
}

header .grid-layout nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px 0;
    flex-wrap: wrap;
    width: 1140px;
}

.grid-layout {
    max-width: 1140px;
    margin: 0 auto;
}

header .grid-layout nav ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

header .grid-layout nav ul a li #midia {
    border: none;
    transition: all .5s ease;
}

header .grid-layout nav ul a li #midia:hover {
    border: 1px #986dff solid;
    border-radius: 5px;
    padding: 4px;
}

#keyboard {
    margin: 0;
    padding: 0;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#keyboard .home h1 {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#keyboard .home a {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #986dff;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    transition: all .5s ease;
    background: none;
}


#keyboard .text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}

#keyboard .text-section textarea {
    font-family: "Poppins", sans-serif;
    color: #fff;
    width: 50%;
    height: 150px;
    resize: none;
    padding: .5rem;
    outline: none;
    border: 2px #986dff solid;
    font-size: 1.2rem;
}

#keyboard .text-section #clear-button {
    width: 80px;
    height: 40px;
    color: #fff;
    font-size: 1rem;
    background: #151515;
    border: 2px #986dff solid;
    border-radius: 5px;
    transition: all .05s ease;
    margin: 10px;
}

#keyboard .text-section #clear-button:active {
    background: #986dff;
}

#keyboard .keyboard-desktop {
    margin: 30px 0;
}

#keyboard .keyboard-desktop .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    gap: 7px;
}

#keyboard .keyboard-desktop .row button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0;
    width: 60px;
    height: 60px;
    background-color: #151515;
    border: 2px #986dff solid;
    border-radius: 8px;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .05s ease;
}

#keyboard .keyboard-desktop .row button:active {
    background-color: #986dff;
}

#keyboard .keyboard-desktop .row #key-space {
    width: 340px;
}

#keyboard .keyboard-desktop .row #key-backspace {
    width: 100px;
}

#keyboard .keyboard-desktop .row #key-capslock {
    width: 80px;
}

#keyboard .keyboard-desktop .row .capslock {
    text-transform: uppercase;
}